.account {
    padding-left: 10pc;
}

.movie-list {
    display: flex;
    flex-direction: column;
}
.movie-list-item {
    display: flex;
    align-self: center;
    box-shadow: 0 2px 8px white;
    border-radius: 10px;
    max-width: 70%;
}
