.card {
    padding: 8px;
    align-items: flex-start;
    max-width: 200px;
    position: relative;
}

.genres {
    margin-top: 7px;
    list-style: none;
    padding: 0;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.genres li {
    padding: 4px;
    text-decoration: underline;
}

.movie-list-item-img {
    transition: all 0.7s ease-in-out;
    width: 200px;
    height: 270px;
    object-fit: cover;
    border-radius: 15px;
    align-self: center;
}

.card:hover .movie-list-item-img {
    transform: scale(1.2);
    opacity: 0.35;
}

.movie-list-item-title {
    margin-top: 5px;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: bold;
    top: 10%;
    left: 160px;
}

.movie-list-item-overview {
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    opacity: 0;
    transition: 1s all ease-in-out;
}

.card:hover .movie-list-item-overview {
    opacity: 1;
}