.main-movie-container {
  min-height: 40vh;
  margin: 8vh 10vh;
  display: flex;
  align-items: center;
}

.movie-img {
  width: 320px;
  height: 432px;
  border-radius: 15px;
}

.movie-info {
  margin-left: 50px;
}

.genres {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 10px;
}

.genres li {
    text-decoration: underline;
}

.directors-list {
  list-style: none;
  padding: 0;
}

.star-icon {
  padding-right: 10px;
}

.actors-container {
  min-height: 40vh;
  margin: 8vh 10vh;
  align-items: center;
}

.actors-list {
  list-style: none;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  row-gap: 20px;

}

.actors-list-item {
  margin-bottom: 30px;
  margin-right: 30px;
}
