#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #151515;
}

#app.active {
    background-color: white;
    color: black;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.logo-container {
  color: #42b983;
  font-size: 30px;
  flex: 1;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
  position: relative;
}

.menu-list-item:hover {
  color: #2b9f5f;
}

.sub-menu-list {
  display: none;
}

.menu-list li:hover .sub-menu-list {
  display: flex;
  position: absolute;
  background-color: black;
  color: white;
  margin-left: -25px;
  z-index: 1;
}

.menu-list li:hover .sub-menu-list ul{
  columns: 5;
  column-gap: 25px;
  list-style: none;
}

.menu-list li:hover .sub-menu-list ul li{
  text-align: left;
  margin-left: -40px;
  padding: 25px;
  height: 20px;
}

.menu-list li:hover .sub-menu-list ul li:hover{
  color: #2b9f5f;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text {
  margin: 0 20px;
}

.profile-container:hover {
  color: #2b9f5f;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

}

.toggle-icons {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s ease all;
}

.toggle-ball.active {
  transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}
